@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --bg: #eee;
    --contrast: #444;
    --card-bg: #fff;
    --card-bg-dark: #ddd;
    --txt: #000a;
    --txt-fade: #0009;
    --shd: #0003;
    --scr: #bbb;
    --pd: 15px;

    --clr: #bbb;
    --txt-theme: #000a;
    --wght: 500;
}

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; letter-spacing: 1px; transition: 0.2s ease-in-out;}

.flex-row{display: flex;}
.flex-col{display: flex; flex-direction: column;}
.hidden{pointer-events: none !important; opacity: 0 !important;}
::-webkit-scrollbar{width: 0;}
input{outline: none; border: none; background: transparent; color: var(--txt-theme);}
textarea{outline: none; border: none; background: transparent; color: var(--txt);}
li{list-style-type: none;}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    color: var(--txt);
}
#root{
    padding: 20px;
    font-size: 12px;
    position: relative;
}
.container{
    box-shadow: 0 0 10px var(--shd);
    min-width: 400px;
    max-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

/* Heading */
.container>.heading{
    background: var(--clr);
    width: 100%;
    padding: 9px var(--pd);
    align-items: center;
    z-index: 11;
}
.container>.heading>.title{
    font-size: 1.2em;
    font-weight: var(--wght);
    max-width: 200px;
}
.container>.heading>#menu_icon{
    cursor: pointer;
    margin-left: auto;
    padding: 10px;
}
.container>.heading>#menu_icon>svg{fill: var(--txt-theme);}


/* Colors */
.drop_down{
    transform: translateY(100%);
    opacity: 1 !important;
}
.container>.swatch_par{
    width: 100%;
    height: 40px;
    background: var(--contrast);
    position: absolute;
    opacity: 0;
    z-index: 10;
    filter: brightness(1.1) contrast(0.95);
}
.container>.swatch_par>.swatch{
    cursor: pointer;
    height: 100%;
    width: 100%;
    transform-origin: top;
}
.container>.swatch_par>.swatch:hover{
    transform: scaleY(1.2);
}

/* Note area */
.container>.lower{position: relative; background: var(--card-bg);}

.container>.lower>textarea{
    resize: none;
    font-size: 0.95em;
    padding: var(--pd) 5px var(--pd) var(--pd);
    width: 100%;
    min-height: 280px;
    height: 40vh;
    position: relative;
    z-index: 8;
}
.container>.lower>textarea::-webkit-scrollbar{width: 0.85vw;}
.container>.lower>textarea::-webkit-scrollbar-thumb{
    background: var(--scr);
    border-radius: 100px;
    border: 0.35vw solid var(--card-bg);
}

/* submenus */
.menus{z-index: 11;}
.submenu{
    user-select: none;
    position: absolute;
    padding: 10px 0;
    background: var(--card-bg);
    font-size: 0.9em;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--shd);
    color: var(--txt-fade);
}
.submenu>.ttl{padding: 5px 10px;}
.submenu>li{padding: 2px 15px; cursor: pointer;}
.submenu>li:hover{background: var(--card-bg-dark);}
.about_div{padding: 10px;}

.menus>#menu, .menus>#confirm{
    right: -23%;
    top: 60px;
    min-width: 150px;
    z-index: 2;
}
.menus>#about{
    font-size: 0.9em;
    letter-spacing: 0.5px;
    right: -54%;
    top: 60px;
    max-width: 40ch;
    z-index: 1;
}
.menus>#about>hr{
    outline: none;
    border: none;
    height: 2px;
    width: 100%;
    background: var(--txt);
    opacity: 0.3;
    margin: 5px 0;
}



@media screen and (max-width: 850px) {
    .menus>#about{right: 15%;}
}
@media screen and (max-width: 650px) {
    .container{min-width: 350px; max-width: 350px;}
    .menus>#menu, .menus>#confirm{right: 15%;}
    .submenu>li{padding: 5px 15px;}
    .menus>#about{max-width: 35ch;}
}
@media screen and (max-width: 450px) {
    .container{min-width: 300px;}
    .container>.lower>textarea{min-height: 300px;}
    .menus>#about{max-width: 30ch;}
}
@media screen and (max-width: 350px) {
    .container{min-width: 250px; max-width: 250px;}
    .container>.heading>.title{max-width: 130px;}
    .menus>#about{max-width: 25ch;}
}